@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Nanum+Pen+Script&family=Sigmar+One&display=swap');

html {
  color: white;
}

.brand-logo {
  margin-left: 15px;
}

.card .card-content .card-title {
  margin-bottom: 10px;
}

#search-row form {
  padding-top: 20px;
}

.collection-item form {
  margin-top: -5px;
}

nav {
  font-size: 35px;
}

body {
  background: linear-gradient(-93deg, #40e0d0 0%, #ff8c00 52%, #ff0080 100%);
  text-align: center;
  transform:translatex(0px) translatey(0px);
  font-family: 'Nanum Pen Script', cursive;
}


main{
  transform:translatex(0px) translatey(0px);
 }

/* Heading */
main h1{
  transform:translatex(0px) translatey(0px);
  font-size: 80px;
  color: white;
 }

 main h2{
  font-size:49px;
 }

main h5 {
  font-size: 49px;
}

main tr button{
  border-top-left-radius:50px;
  border-top-right-radius:50px;
  border-bottom-left-radius:50px;
  border-bottom-right-radius:50px;
  height:62px;
  font-size:24px;
  background: linear-gradient(-93deg, #40e0d0 0%, #ff8c00 52%, #ff0080 100%);
  color: white;
  font-family: 'Nanum Pen Script', cursive;
 }
 
nav button {
  background: linear-gradient(-93deg, #40e0d0 0%, #ff8c00 52%, #ff0080 100%);
  color: white;
  font-family: 'Nanum Pen Script', cursive;
  font-size: 24px;
  border-top-left-radius:50px;
  border-top-right-radius:50px;
  border-bottom-left-radius:50px;
  border-bottom-right-radius:50px;
}
/* Google */ 
#google {
  width: 20px;
}

/* Navigation */

nav {
  text-align: center;
}
.hideScrollbar::-webkit-scrollbar{
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
 }

.hideScrollbar::-webkit-scrollbar-thumb{
  background: #ff8c00;
  
}

#list {
  overflow-x:auto;
  border-color:#000000;
 border-style:solid;
 display:inline-block;
 transform:translatex(0px) translatey(0px) !important;
 max-width:1190px;
 overflow:auto;
 background-color:#2ecc71;
 position:relative;
 border-top-left-radius:50px;
 border-top-right-radius:50px;
 border-bottom-left-radius:50px;
 border-bottom-right-radius:50px;
}

#list tbody{
  position:relative;
  right:201px;
  bottom:-25px;
  transform:translatex(0px) translatey(0px);
 }

#list tr img{
  width:237px;
 }

 /* Table Data */
#list tr td{
  position:relative;
  padding-right:20px;
  top:-25px;
  left:226px;
 }

 #show-page img{
  width:331px;
  border-top-left-radius:50px;
  border-top-right-radius:50px;
  border-bottom-left-radius:50px;
  border-bottom-right-radius:50px;
 }

 #show-page {
   font-size: 24px;
 }

 .attribute {
   font-style: bold;
   font-size: 26px;
 }

 main table{
  /* margin-right:1520px; */
  transform:translatex(79px) translatey(18px);
  border-style:dotted;
  border-color:rgb(55, 153, 146);
  border-top-left-radius:30px;
  border-top-right-radius:30px;
  border-bottom-left-radius:30px;
  border-bottom-right-radius:30px;
  margin-bottom: 80px;
  font-size: 50px;
  width:1680px;
 }

 #add-comment-form label{
  font-size:42px;
 }

 #add-comment-form select{
  height:54px;
  width:55px;
  font-size:31px;
 } 

 #add-comment-form textarea{
  width:527px;
  height:73px;
  position:relative;
  bottom:-21px;
  transform:translatex(0px) translatey(0px);
  font-size: 25px;
  font-family: 'Nanum Pen Script', cursive;
 }

 #add-comment-form input{
  font-size:44px;
  color:white;
  background: linear-gradient(-93deg, #40e0d0 0%, #ff8c00 52%, #ff0080 100%); 
  border-radius: 40px;
  font-family: 'Nanum Pen Script', cursive;
 }

 #add-pet-form label input[type=text]{
  transform:translatex(-9px) translatey(-7px);;
 height:31px;
 width:154px;
 padding-top:6px;
  font-size: 25px;
  font-family: 'Nanum Pen Script', cursive;
 }

 #description{
  width:454px !important;
  height:99px !important;
  transform:translatex(-11px) translatey(5px) !important;
 }
 
#subButton {
  border-top-left-radius:50px;
  border-top-right-radius:50px;
  border-bottom-left-radius:50px;
  border-bottom-right-radius:50px;
  height:62px;
  font-size:45px;
  margin-top:26px;
  background: linear-gradient(-93deg, #40e0d0 0%, #ff8c00 52%, #ff0080 100%);
  color: white;
  font-family: 'Nanum Pen Script', cursive;
}

 /* Form Division */
main form{
  font-size:52px;
  transform:translatex(0px) translatey(0px);
 }
 
 /* Input */
 
 
 /* Select */
 main form select{
  height:45px;
  font-size:30px;
  font-family: 'Nanum Pen Script', cursive;
 }
 