@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Nanum+Pen+Script&family=Sigmar+One&display=swap');



.brand-logo {
  margin-left: 15px;
}

.card .card-content .card-title {
  margin-bottom: 10px;
}

#search-row form {
  padding-top: 20px;
}

.collection-item form {
  margin-top: -5px;
}



body {
  background: linear-gradient(-93deg, #40e0d0 0%, #ff8c00 52%, #ff0080 100%);
  text-align: center;
  transform:translatex(0px) translatey(0px);
  font-family: 'Nanum Pen Script', cursive;
}


main{
  transform:translatex(0px) translatey(0px);
 }

/* Heading */
main h1{
  transform:translatex(0px) translatey(0px);
  font-size: 80px;
  color: white;
 }

/* Google */ 
#google {
  width: 20px;
}

/* Navigation */

nav {
  text-align: center;
}
.hideScrollbar::-webkit-scrollbar{
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
 }

.hideScrollbar::-webkit-scrollbar-thumb{
  background: red;
  
}

#list {
  overflow-x:auto;
  border-color:#000000;
 border-style:solid;
 display:inline-block;
 transform:translatex(0px) translatey(0px) !important;
 max-width:1190px;
 overflow:auto;
 background-color:#2ecc71;
 position:relative;
 border-top-left-radius:50px;
 border-top-right-radius:50px;
 border-bottom-left-radius:50px;
 border-bottom-right-radius:50px;
}

#list tbody{
  position:relative;
  right:201px;
  bottom:-25px;
  transform:translatex(0px) translatey(0px);
 }

#list tr img{
  width:237px;
 }

 /* Table Data */
#list tr td{
  position:relative;
  padding-right:20px;
  top:-25px;
  left:226px;
 }

 #show-page img{
  width:331px;
  border-top-left-radius:50px;
  border-top-right-radius:50px;
  border-bottom-left-radius:50px;
  border-bottom-right-radius:50px;
 }

 #show-page {
   font-size: 24px;
 }

 .attribute {
   font-style: bold;
   font-size: 26px;
 }